@model Entities.AboutSection2

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AboutSection2</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img style="width:100px; height:100px; object-fit:cover;" src=" @Html.DisplayFor(model => model.Photo)" alt="Alternate Text" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountNum1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountNum1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountTitle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountTitle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountNum2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountNum2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountTitle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountTitle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountNum3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountNum3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountTitle3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountTitle3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
