@model IEnumerable<Entities.SocialInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaceLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhatsappLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneFaceLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailFaceLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaceLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhatsappLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneFaceLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFaceLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
